In [23]:
import numpy as np
import pandas as pd
import ast

In [24]:
df = pd.read_csv('./data/behavior.csv', delimiter=',', index_col=False)
df

,pid,code,A/C,M/F,duration,engagement_score,norm_engagement_score,engagement_level
0,0,"['Approach', 'None']",Child,Female,5680,3.521127,6.341146,mid
1,1,"['Approach', 'None']",Child,Female,11840,3.533784,6.372981,mid
2,2,"['Approach', 'None']",Child,Male,24840,3.628019,6.610002,mid
3,3,"['Approach', 'None']",Child,Male,12280,3.517915,6.333068,mid
4,4,['Pass'],Child,Male,21040,1.000000,0.000000,low
...,...,...,...,...,...,...,...,...
1116,1116,['Pass'],Child,Female,17280,1.000000,0.000000,low
1117,1117,['Pass'],Child,Female,14160,1.000000,0.000000,low
1118,1118,['Pass'],Adult,Male,18080,1.000000,0.000000,low
1119,1119,['Pass'],Child,Female,13840,1.000000,0.000000,low
1120,1120,['Pass'],Adult,Male,7280,1.000000,0.000000,low

In [25]:
df['code'] = df['code'].apply(lambda x: ast.literal_eval(x))

In [27]:
new_df = df.drop(df[df['code'].apply(lambda x: len(x) <= 1)].index)

In [28]:
new_df

,pid,code,A/C,M/F,duration,engagement_score,norm_engagement_score,engagement_level
0,0,"[Approach, None]",Child,Female,5680,3.521127,6.341146,mid
1,1,"[Approach, None]",Child,Female,11840,3.533784,6.372981,mid
2,2,"[Approach, None]",Child,Male,24840,3.628019,6.610002,mid
3,3,"[Approach, None]",Child,Male,12280,3.517915,6.333068,mid
5,5,"[Approach, None]",Child,Male,11920,3.651007,6.667820,mid
...,...,...,...,...,...,...,...,...
1108,1108,"[Approach, None, Gesture, None]",Child,Male,18080,3.730088,6.866727,mid
1109,1109,"[Approach, None, Gesture, None, Gesture, None]",Child,Male,158080,4.017713,7.590160,mid
1110,1110,"[Approach, None]",Child,Male,15520,3.752577,6.923291,mid
1111,1111,"[Approach, None]",Child,Male,21280,3.774436,6.978270,mid
1114,1114,"[Approach, Touch]",Child,Male,17440,3.550459,6.414922,mid

In [120]:
new_df['code'][0]

['Approach', 'None']

In [69]:
new_df.to_csv('./data/behavior.csv')

In [70]:
# ì¶œë ¥í•  ìµœëŒ€ í–‰ ìˆ˜ ì„¤ì •
pd.options.display.max_rows = 10

In [71]:
new_df[new_df['engagement_level'] == 'low']['code'].value_counts()

[Pass]                    311
[Avoid]                    44
[Follow]                   42
[Pass, None]                3
[Pass, Gesture]             2
[Pass, Gesture, Touch]      1
[Avoid, None]               1
Name: code, dtype: int64

In [72]:
new_df[new_df['engagement_level'] == 'low']['engagement_score'].value_counts()

1.000000    311
2.000000     86
2.192771      1
1.651515      1
2.215190      1
2.495652      1
2.200000      1
2.326531      1
2.019608      1
Name: engagement_score, dtype: int64

In [73]:
new_df[new_df['engagement_level'] == 'mid']['code'].value_counts()

[Approach, None]                      336
[Approach]                             34
[Approach, Touch, None]                31
[Approach, None, Touch, None]          25
[Approach, Gesture]                    20
                                     ...
[Pass, Gesture]                         1
[Approach, Gesture, None, Gesture]      1
[Pass, None]                            1
[Approach, None, Gesture, Gesture]      1
[None]                                  1
Name: code, Length: 65, dtype: int64

In [74]:
new_df[new_df['engagement_level'] == 'mid']['engagement_score'].value_counts()

3.000000    34
4.000000     4
3.652174     2
3.900000     2
3.600000     2
            ..
3.435345     1
3.825065     1
4.069853     1
3.904192     1
3.550459     1
Name: engagement_score, Length: 561, dtype: int64

In [118]:
new_df[new_df['norm_engagement_score'] == 5.03040622719533]['code']

pid
108     [Approach]
111     [Approach]
122     [Approach]
138     [Approach]
196     [Approach]
197     [Approach]
198     [Approach]
199     [Approach]
200     [Approach]
201     [Approach]
202     [Approach]
203     [Approach]
213     [Approach]
227     [Approach]
237     [Approach]
248     [Approach]
267     [Approach]
278     [Approach]
288     [Approach]
310     [Approach]
315     [Approach]
334     [Approach]
351     [Approach]
394     [Approach]
396     [Approach]
434     [Approach]
572     [Approach]
605     [Approach]
653     [Approach]
658     [Approach]
869     [Approach]
964     [Approach]
988     [Approach]
1003    [Approach]
Name: code, dtype: object

In [75]:
new_df[new_df['engagement_level'] == 'high']['code'].value_counts()

[Approach, Touch]                                                                                    29
[Approach, Gesture]                                                                                   9
[Approach, Touch, None, Touch, None, Touch, None]                                                     8
[Approach, None, Touch]                                                                               8
[Approach, Touch, None, Touch, None]                                                                  5
                                                                                                     ..
[Approach, None, Touch, Gesture, None, None, Touch, None, Touch, None]                                1
[Approach, Touch, Gesture, None, Touch, None]                                                         1
[Approach, None, Touch, None, Gesture, None]                                                          1
[Approach, None, Touch, None, Touch, Approach, Gesture, Approach, Touch, Approach, Gesture, None]     1
[Approach, None, Touch, None, Touch]                                                                  1
Name: code, Length: 47, dtype: int64

In [76]:
new_df[new_df['engagement_level'] == 'high']['engagement_score'].value_counts()

4.333333    3
4.336842    1
4.339768    1
4.577670    1
4.501370    1
           ..
4.242900    1
4.656388    1
4.718147    1
4.553522    1
4.767782    1
Name: engagement_score, Length: 111, dtype: int64

In [109]:
new_df[new_df['engagement_level'] == 'mid']['norm_engagement_score'].value_counts()

5.030406    34
7.545609     4
6.497608     2
6.670756     2
6.288008     2
7.186295     2
7.294089     2
6.916809     2
7.293840     1
7.889322     1
6.980600     1
7.466605     1
5.374955     1
6.665288     1
6.472047     1
5.951467     1
7.374636     1
7.573556     1
6.004033     1
7.390732     1
6.231359     1
7.485724     1
7.789016     1
7.241445     1
7.428396     1
7.135522     1
6.307356     1
7.624456     1
7.736495     1
7.743725     1
5.380460     1
7.049912     1
7.800522     1
6.265142     1
7.097580     1
6.258207     1
7.934073     1
5.237135     1
5.247769     1
7.826915     1
7.110016     1
5.994176     1
6.082218     1
7.865412     1
6.379138     1
7.702810     1
5.405011     1
5.071639     1
5.780555     1
5.466929     1
7.004614     1
7.151807     1
5.513122     1
5.868807     1
7.202627     1
7.500426     1
7.433141     1
7.040372     1
7.043257     1
7.304150     1
7.013547     1
7.020264     1
7.006218     1
6.406649     1
7.838970     1
6.610755     1
7.849997     1
7.343855     1
7.314621     1
7.505955     1
5.896296     1
5.319510     1
5.910727     1
6.610203     1
6.945390     1
6.357875     1
7.577959     1
7.617790     1
7.227688     1
6.164982     1
5.844455     1
7.582381     1
6.776434     1
6.437960     1
7.298081     1
6.578224     1
7.006637     1
7.020855     1
6.723488     1
6.369435     1
5.363157     1
7.009964     1
7.336879     1
7.803579     1
7.465550     1
7.741831     1
6.019290     1
7.070515     1
5.861517     1
6.666612     1
6.691682     1
6.732836     1
7.580302     1
6.030038     1
7.312281     1
7.750712     1
7.939404     1
6.694108     1
7.321799     1
7.288407     1
5.778169     1
7.468270     1
7.942012     1
7.451991     1
6.791048     1
7.523371     1
7.426968     1
6.357404     1
6.270622     1
5.921783     1
6.748584     1
6.899179     1
7.346564     1
6.686759     1
5.724255     1
5.696195     1
6.682836     1
7.096630     1
6.993329     1
6.652050     1
7.041704     1
6.459110     1
7.405617     1
6.886284     1
5.716371     1
7.016093     1
7.048221     1
6.672129     1
7.906859     1
5.821870     1
6.063436     1
7.189324     1
5.704584     1
5.686546     1
6.341146     1
7.606956     1
7.548213     1
6.024510     1
6.492234     1
7.214972     1
6.735155     1
7.516134     1
5.668592     1
7.097827     1
5.793445     1
6.828465     1
7.873899     1
7.196561     1
6.186040     1
7.598009     1
6.180978     1
7.008555     1
7.415513     1
6.294662     1
6.741569     1
5.172776     1
7.711472     1
7.604384     1
5.394677     1
6.931432     1
5.236570     1
7.914506     1
7.675453     1
7.332400     1
6.580874     1
7.332682     1
6.448066     1
7.907273     1
7.198114     1
7.856128     1
7.481352     1
7.376450     1
5.754480     1
7.327869     1
7.482729     1
7.209609     1
7.159437     1
7.098830     1
6.003268     1
6.391372     1
6.278408     1
7.093349     1
6.866727     1
7.590160     1
6.923291     1
6.978270     1
7.939979     1
7.368997     1
7.877507     1
7.726146     1
7.458878     1
7.135405     1
6.636358     1
5.600655     1
7.505063     1
7.752492     1
7.071432     1
7.145703     1
7.315460     1
7.492565     1
7.663916     1
6.167988     1
7.266142     1
7.262441     1
6.641451     1
5.682496     1
7.918232     1
7.052313     1
6.072743     1
5.518048     1
6.707208     1
6.635129     1
6.519671     1
5.484540     1
7.577324     1
7.055807     1
7.114432     1
6.978019     1
7.316955     1
6.902625     1
6.935035     1
7.680835     1
7.153408     1
7.359790     1
6.803715     1
7.577994     1
7.287291     1
6.816200     1
6.431088     1
7.647491     1
7.313856     1
5.786148     1
5.941083     1
5.714815     1
6.249113     1
6.298943     1
6.898612     1
6.641708     1
6.859645     1
7.984583     1
7.555741     1
6.347090     1
7.690161     1
7.639261     1
5.317858     1
7.609528     1
7.267027     1
7.299588     1
5.951817     1
5.449607     1
7.199254     1
7.395963     1
7.429180     1
6.774968     1
7.633725     1
7.600563     1
6.953797     1
6.375747     1
7.247102     1
7.790917     1
5.471026     1
6.952801     1
7.425838     1
7.135153     1
6.490847     1
7.359395     1
6.986675     1
6.234870     1
7.045510     1
5.753527     1
7.470808     1
7.676491     1
7.347315     1
6.537210     1
6.414612     1
7.440809     1
6.824035     1
7.811640     1
6.311383     1
7.663342     1
7.806751     1
7.007939     1
7.973729     1
5.965260     1
7.529987     1
7.042569     1
5.439858     1
7.366318     1
7.979764     1
6.106828     1
7.890766     1
5.812914     1
7.872852     1
7.742634     1
6.294806     1
4.079202     1
6.747132     1
7.508069     1
7.446165     1
6.048960     1
7.322438     1
7.401306     1
7.550174     1
7.329210     1
5.930735     1
5.227677     1
7.705110     1
6.347894     1
7.638286     1
7.595415     1
7.303586     1
7.725267     1
7.348767     1
6.218909     1
5.987519     1
7.228567     1
7.334543     1
6.153265     1
6.599593     1
6.567475     1
7.366909     1
6.517497     1
7.180709     1
7.171813     1
6.458637     1
7.191739     1
7.352132     1
6.541405     1
7.138960     1
6.932399     1
6.148274     1
7.213836     1
6.539528     1
6.006455     1
6.812535     1
6.937869     1
7.055692     1
5.909905     1
5.650823     1
6.777843     1
7.814807     1
7.037673     1
6.684681     1
7.515306     1
7.181087     1
6.397529     1
7.453926     1
7.698402     1
5.877027     1
5.687976     1
5.780035     1
4.107104     1
5.402032     1
6.731598     1
6.434834     1
7.082666     1
5.742676     1
6.523808     1
6.181431     1
6.968728     1
7.394091     1
7.104881     1
7.955061     1
7.183058     1
7.189289     1
5.815696     1
6.709764     1
5.377331     1
7.044845     1
6.723740     1
6.529854     1
7.045645     1
6.697345     1
6.351684     1
6.680508     1
6.667820     1
6.333068     1
6.610002     1
5.985186     1
6.346307     1
7.016936     1
6.016480     1
7.745229     1
6.634932     1
7.088300     1
6.668750     1
6.195988     1
7.833810     1
6.729199     1
7.382284     1
7.764267     1
7.573634     1
5.527763     1
7.094651     1
7.229326     1
5.346784     1
7.245085     1
6.622307     1
6.969609     1
6.546613     1
6.999858     1
7.602278     1
6.324637     1
7.213413     1
6.853654     1
7.320157     1
5.973607     1
7.357908     1
7.764172     1
7.821084     1
7.249703     1
6.963272     1
6.316808     1
6.909811     1
7.058796     1
7.093659     1
6.543241     1
7.143177     1
7.618163     1
7.096243     1
7.720948     1
7.114794     1
6.390669     1
7.188233     1
5.666435     1
6.530437     1
7.416878     1
6.737975     1
5.994785     1
6.041117     1
7.937626     1
7.227990     1
7.585533     1
7.715811     1
7.073472     1
7.846515     1
6.624198     1
7.910648     1
6.073295     1
7.268232     1
5.850581     1
6.866659     1
7.919912     1
7.267109     1
7.760584     1
7.058371     1
7.620566     1
7.366155     1
5.491527     1
6.983480     1
7.040699     1
5.680595     1
6.321544     1
5.708262     1
6.585505     1
5.920957     1
5.755946     1
6.902185     1
7.611017     1
6.571982     1
6.638767     1
6.539528     1
6.275305     1
6.367603     1
6.372981     1
6.335003     1
7.377277     1
6.730133     1
6.411175     1
6.375584     1
7.971259     1
7.460433     1
7.049654     1
7.592476     1
7.167654     1
7.175542     1
7.168329     1
6.898038     1
6.606196     1
7.220328     1
6.755296     1
6.851760     1
7.308884     1
6.577456     1
7.365236     1
5.931375     1
5.953539     1
7.001782     1
6.762487     1
5.802933     1
6.404452     1
7.026599     1
5.753006     1
6.545589     1
7.438445     1
6.102460     1
6.269782     1
6.661889     1
7.599700     1
6.585259     1
6.940291     1
5.653642     1
5.130018     1
6.946751     1
7.586842     1
7.248898     1
6.876359     1
5.358476     1
6.420925     1
6.259426     1
7.069546     1
5.230972     1
6.919706     1
7.030802     1
7.397805     1
5.737807     1
5.667591     1
6.173680     1
6.701345     1
7.049188     1
4.968233     1
7.494968     1
7.129873     1
6.724112     1
7.173431     1
7.090990     1
7.310544     1
7.151489     1
7.265596     1
7.314705     1
6.280903     1
6.576692     1
7.316955     1
5.808921     1
7.553469     1
5.649914     1
7.353292     1
7.614384     1
6.551949     1
7.423635     1
7.511155     1
7.873208     1
7.240602     1
7.484839     1
7.974228     1
7.535589     1
6.125387     1
7.105613     1
7.721304     1
7.304632     1
6.365399     1
6.414922     1
Name: norm_engagement_score, dtype: int64

In [87]:
len(new_df)

1121

In [89]:
new_df[new_df['code'].apply(lambda x: len(x) >= 3)]

,code,A/C,M/F,duration,engagement_score,norm_engagement_score,engagement_level
pid,,,,,,,
24,"[Approach, Touch, None, Gesture]",Adult,Female,15200,4.336842,8.392836,high
25,"[Approach, None, None]",Adult,Female,57600,3.858333,7.189289,mid
27,"[Approach, Touch, None]",Adult,Female,10320,4.162791,7.955061,mid
28,"[Approach, None, Touch, None, None, Touch, Non...",Adult,Female,128520,3.824774,7.104881,mid
29,"[Approach, None, Touch, None, Touch, None]",Child,Male,34240,4.060748,7.698402,mid
...,...,...,...,...,...,...,...
1097,"[Approach, None, Touch, None]",Adult,Female,98880,3.913430,7.327869,mid
1098,"[Approach, Touch, None]",Adult,Female,22400,3.975000,7.482729,mid
1099,"[Approach, None, None]",Adult,Female,20960,3.866412,7.209609,mid
1108,"[Approach, None, Gesture, None]",Child,Male,18080,3.730088,6.866727,mid
1109,"[Approach, None, Gesture, None, Gesture, None]",Child,Male,158080,4.017713,7.590160,mid

In [98]:
new_df['code'].apply(len).value_counts().sort_index()

1     432
2     434
3      82
4      55
5      30
6      23
7      17
8      16
9       6
10      2
11     10
12      5
13      3
14      1
15      1
16      1
17      1
19      1
22      1
Name: code, dtype: int64

In [95]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)