In [89]:
import numpy as np
import pandas as pd

In [95]:
df = pd.read_csv('./data/exhibition_behavior.csv', delimiter=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3064 entries, 0 to 3063
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   No.          2688 non-null   float64
 1   날짜           2997 non-null   object
 2   태깅 데이터 파일명   2997 non-null   object
 3   이름           2688 non-null   object
 4   위치           2688 non-null   float64
 5   기간           2688 non-null   float64
 6   appearance   0 non-null      float64
 7   A/C          2688 non-null   object
 8   behavior     2688 non-null   object
 9   code         2687 non-null   object
 10  M/F          2688 non-null   object
 11  외형           2688 non-null   object
 12  Unnamed: 12  0 non-null      float64
 13  Unnamed: 13  0 non-null      float64
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
dtypes: float64(9), object(8)
memory usage: 407.1+ KB

In [97]:
df = df.drop(["Unnamed: 12", "Unnamed: 13", "Unnamed: 14", "Unnamed: 15", "Unnamed: 16"], axis=1)

In [101]:
df = df.drop(columns=['appearance'])

In [104]:
df = df.dropna()

In [113]:
df = df.astype({'No.':'int64', '위치':'int64', '기간':'int64'})

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2687 entries, 1 to 3063
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   No.         2687 non-null   int64
 1   날짜          2687 non-null   object
 2   태깅 데이터 파일명  2687 non-null   object
 3   이름          2687 non-null   object
 4   위치          2687 non-null   int64
 5   기간          2687 non-null   int64
 6   A/C         2687 non-null   object
 7   behavior    2687 non-null   object
 8   code        2687 non-null   object
 9   M/F         2687 non-null   object
 10  외형          2687 non-null   object
dtypes: int64(3), object(8)
memory usage: 251.9+ KB

In [120]:
df = df.drop(columns=['이름'])

In [121]:
df = df.rename(columns={'No.':'uid', '날짜':'date', '태깅 데이터 파일명':'filename', '위치':'start', '기간':'duration', '외형':'appearance'})

In [122]:
df

,uid,date,filename,start,duration,A/C,behavior,code,M/F,appearance
1,1,11월 19일,01_20221119085958_part2,56240,2720,Child,물리적거리,Approach,Female,"포니테일, 아이보리색 점퍼, 검정색 바지"
2,1,11월 19일,01_20221119085958_part2,59360,2960,Child,상호작용시도,None,Female,"포니테일, 아이보리색 점퍼, 검정색 바지"
3,1,11월 19일,01_20221119085958_part2,71420,5520,Child,물리적거리,Approach,Female,"포니테일, 아이보리색 점퍼, 검정색 바지"
4,1,11월 19일,01_20221119085958_part2,77400,6320,Child,상호작용시도,None,Female,"포니테일, 아이보리색 점퍼, 검정색 바지"
6,2,11월 19일,01_20221119085958_part2,48240,9240,Child,물리적거리,Approach,Male,"검정색 점퍼, 청바지, 검정/흰색 운동화"
...,...,...,...,...,...,...,...,...,...,...
3056,372,12월 4일,01_20221204165959_part1,2567280,17280,Child,물리적거리,Pass,Female,"하늘색 롱패딩, 흰색 바지"
3057,372,12월 4일,01_20221204165959_part1,2893760,14160,Child,물리적거리,Pass,Female,"하늘색 롱패딩, 흰색 바지"
3059,373,12월 4일,01_20221204165959_part1,2567280,18080,Adult,물리적거리,Pass,Male,"검은색 롱패딩, 검은색 바지"
3061,374,12월 4일,01_20221204165959_part2,15760,13840,Child,물리적거리,Pass,Female,"하늘색 롱패딩, 흰색 바지"
3063,375,12월 4일,01_20221204165959_part2,404640,7280,Adult,물리적거리,Pass,Male,"검은색 롱패딩, 검은색 바지"

In [123]:
df.to_csv('./data/exhibition_behavior_preprocessed.csv')

NameError: name 'df' is not defined